<table>
  <tr>
    <td>first_name</td>
    <td>last_name</td>
    <td>email</td>
    <td>phone_number</td>
  </tr>
  <% @all_contacts.each do  |contact| %>
   <tr>

     <td><%= contact.first_name %></td>
     <td><%= contact.last_name %></td>
     <td><%= contact.email %></td>
     <td><%= contact.phone_number %></td>
   </tr>
 <% end %>
</table>